.button {
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;

    font-size: calc(16px + 0.2vw);
    background-color: blue;
    background-color: var(--secondary-color);
    color: black;

    text-decoration: none;
    border: none;
    transition: 0.2s ease-out;
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow-hover);
    }

    @media screen and (min-width: 1900px) {
        font-size: 1.2em;
    }
}